* {
  margin: 0;
  padding: 0;
}

#title {
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.font {
  font-family: Helvetica, Arial, "Times New Roman";
}

.center-text {
  text-align: center;
}

.center {
  margin: auto;
}

.form-title {
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.form-error {
  margin-top: 10px;
  margin-bottom: 10px;
}

.logout-btn {
  position: absolute;
  top: 0;
  left: 0;
}

.select-custom {
  display: inline-block;
  width: 40%;
  text-align: left;
}

